* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-links {
  text-decoration: none;
  color: aliceblue;
}

.nav-items {
  margin-right: 2vw;
}

.grid-container {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 40vw);
  grid-gap: 1rem;
}
.grid-item {
  border: 1px solid rgb(231, 224, 224);
  text-align: center;
  height: auto;
  padding: 1.5rem;
}

.last-container {
  width: 100vw;
  height: 50vh;
  position: relative;
}
.grid-item-5 {
  width: 50vw;
  height: 40vh;
  position: absolute;
  border: 1px solid rgb(231, 224, 224);
  left: 50%;
  transform: translate(-50%);
}
